{% extends 'navbar.html' %}

{% block title %}Login Page{% endblock %}


{% block content %}
<div class="text-center mt-5">
    <h2>
        Login to access the system
    </h2>
</div>
<div class="container my-5 cus_shadow" style="width: 40%;">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                    <span class="error_msg">{{message}}</span>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form class="p-5" action="/login_user" method="post">
        <div class="mb-3"> 
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="text-center pb-3">
        <span>Haven't registered yet! <a href="/register">Click here</a></span>
    </div>
</div>
{% endblock %}